.section {
  margin-bottom: 5rem;
  h2 {
    margin-bottom: 1rem;
  }
}

.section-colors {
  .c-header {
    margin-bottom: 2rem;
  }

  .c-data {
    margin-top: 3rem;
  }
}

.section-fonts {
  .f-data {
    padding: 3rem 0;
  }
}