@use "../../scss/colors.scss" as color;
@use "../../scss/mixins.scss" as mixin;

.footer {
  padding: 3rem 0;

  font-size: 0.8rem;
  letter-spacing: normal;

  background-color: #0a101d;

  .footer-container {
    width: 85vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .fc-links {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      a {
        color: color.$c0;
        text-decoration: none;

        font-size: 1.5rem;

        transition: transform 0.5s;

        &:hover {
          transform: translateY(-0.5rem);
        }
      }
    }
    
    .fc-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 960px) {
  .footer {

    .footer-container {
      width: 70vw;
      position: relative;

      flex-direction: row;
      align-items: center;

      .fc-links {
        position: absolute;
        right: 0;

        align-items: center;

        a {
          @include mixin.display-flex;
        }
      }

      .fc-info {
        flex-direction: row;
        align-items: center;
        gap: initial;

        padding: 0.5rem 0;

        span:first-child::after {
          content: " | ";
          margin: 0 1rem;
        }
      }
    }
  }
}