@use "./colors.scss" as color;
@use "./fonts.scss" as font;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: #0F172A;
  color: color.$c0;

  font-family: font.$montserrat;
  letter-spacing: 1.4px;

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p, span {
    color: color.$c3;
  }
}