@use "./colors.scss" as slate;
@use "./variables.scss" as v;

@mixin display-flex($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border($property: border, $color: slate.$c6) {
  #{$property}: v.$standard-border $color;
}